apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - secret.yaml
  - configmap.yaml
  - pvc.yaml
  - service.yaml
  - statefulset.yaml
  - issuer.yaml
  - ingress.yaml
